DB_NAME = "your_database_name"
HOST_PORT = "your_host_port"
DB_USER = "your_database_username"
DB_PASSWORD = "your_database_password"

ConnectionStrings__DefaultConnection=Host=host;Port=port;Database=database;Username=username;Password=password

# JWT
JwtSettings__SecretKey=your_jwt_secret_key
JwtSettings__Issuer=your_jwt_issuer
JwtSettings__Audience=your_jwt_audience
JwtSettings__ExpiryDays=number_of_days_until_jwt_expires